<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/bmagbook</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>04072002</param-value>
    </context-param>
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>controller.ProcessRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessNewsFeed</servlet-name>
        <servlet-class>controller.ProcessNewsFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProfile</servlet-name>
        <servlet-class>controller.ProcessProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHobbiesSearch</servlet-name>
        <servlet-class>controller.ProcessHobbiesSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessImage</servlet-name>
        <servlet-class>controller.ProcessImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUploadGallery</servlet-name>
        <servlet-class>controller.ProcessUploadGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGallery</servlet-name>
        <servlet-class>controller.ProcessGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSetNguoiNhan</servlet-name>
        <servlet-class>controller.ProcessSetNguoiNhan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTestNhanTin</servlet-name>
        <servlet-class>controller.ProcessTestNhanTin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessFollow</servlet-name>
        <servlet-class>controller.ProcessFollow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTamTrang</servlet-name>
        <servlet-class>controller.ProcessTamTrang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessImage1</servlet-name>
        <servlet-class>controller.ProcessImage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGallery1</servlet-name>
        <servlet-class>controller.ProcessGallery1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTravelAdress</servlet-name>
        <servlet-class>controller.ProcessTravelAdress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageAdress</servlet-name>
        <servlet-class>controller.UploadImageAdress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessImageAdress</servlet-name>
        <servlet-class>controller.ProcessImageAdress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessChatInHobbySearch</servlet-name>
        <servlet-class>controller.ProcessChatInHobbySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGalleryById</servlet-name>
        <servlet-class>controller.ProcessGalleryById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProfileHobby</servlet-name>
        <servlet-class>controller.ProcessProfileHobby</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProfileCrush</servlet-name>
        <servlet-class>controller.ProcessProfileCrush</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/dang-ky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessNewsFeed</servlet-name>
        <url-pattern>/ProcessNewsFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProfile</servlet-name>
        <url-pattern>/ProcessProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHobbiesSearch</servlet-name>
        <url-pattern>/ProcessHobbiesSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessImage</servlet-name>
        <url-pattern>/ProcessImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUploadGallery</servlet-name>
        <url-pattern>/ProcessUploadGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGallery</servlet-name>
        <url-pattern>/ProcessGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSetNguoiNhan</servlet-name>
        <url-pattern>/ProcessSetNguoiNhan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTestNhanTin</servlet-name>
        <url-pattern>/ProcessTestNhanTin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessFollow</servlet-name>
        <url-pattern>/ProcessFollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTamTrang</servlet-name>
        <url-pattern>/ProcessTamTrang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessImage1</servlet-name>
        <url-pattern>/ProcessImage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGallery1</servlet-name>
        <url-pattern>/ProcessGallery1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTravelAdress</servlet-name>
        <url-pattern>/ProcessTravelAdress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageAdress</servlet-name>
        <url-pattern>/UploadImageAdress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessImageAdress</servlet-name>
        <url-pattern>/ProcessImageAdress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessChatInHobbySearch</servlet-name>
        <url-pattern>/ProcessChatInHobbySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGalleryById</servlet-name>
        <url-pattern>/ProcessGalleryById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProfileHobby</servlet-name>
        <url-pattern>/ProcessProfileHobby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProfileCrush</servlet-name>
        <url-pattern>/ProcessProfileCrush</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
